* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;

  max-width: 540px;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px){
  .container {
    max-width: 920px;
  }
}

@media (min-width: 1200px){
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px){
  .container {
    max-width: 1320px;
  }
}
